{% extends 'base.html' %}

{% block title %}Set New Password{% endblock %}

{% block header %}Enter New Password{% endblock %}

{% block content %}
    {% if form %}
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <br>
            {% endfor %}

            <button type="submit" class="btn-primary">Set New Password</button>
        </form>
    {% else %}
        <p class="errorlist">The password reset link is invalid or has expired.</p>
    {% endif %}

    <p class="login-link"><a href="{% url 'login' %}">Back to Login</a></p>
{% endblock %}
