{% extends 'base1.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'problems/css/problem_detail.css' %}" />

<div class="problem-container">
  <div class="problem-left">
    <h2>{{ problem.problem_name }}</h2>
    <p>
      <strong>Difficulty:</strong> {{ problem.get_problem_difficulty_display }}
    </p>

    <h3>Statement</h3>
    <p>{{ problem.statement }}</p>

    <h3>Constraints</h3>
    <p>{{ problem.constraints }}</p>
  </div>

  <div class="problem-right">
    <!-- Code Editor -->
    <div class="editor-section">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h4><span style="color: rgb(62, 191, 2)">&lt;/&gt;</span> Code</h4>
        <select
          id="languageSelect"
          style="margin-bottom: 10px; width: 150px; padding: 5px"
        >
          <option value="cpp">C++</option>
          <option value="python">Python</option>
          <option value="java">Java</option>
        </select>
      </div>

      <!-- THE EDITOR -->
      <textarea
        id="codeArea"
        placeholder="Write your solution here..."
      ></textarea>

      <div class="editor-buttons">
        <button class="run-btn" id="runBtn">Run</button>
        <button class="submit-btn">Submit</button>
      </div>
    </div>

    <!-- Input/Output -->
    <div class="io-section-vertical">
      <div class="io-box">
        <h4>Input</h4>
        <textarea
          id="inputArea"
          placeholder="Your input..."
          class="io-text"
        ></textarea>
      </div>
      <div class="io-box">
        <h4>Output</h4>
        <textarea
          id="outputArea"
          placeholder="Your output..."
          class="io-text"
          readonly
        ></textarea>
      </div>
    </div>
  </div>
</div>

<script src="{%static 'problems/js/editor.js' %}"></script>
{% endblock %}
